<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="708d61">  <td>22/11/23 20:27:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FactorialCalculator1Test.testForInvalidNumber()[pri:0, instance:com.github.rizwanbinzahir.testngsample.FactorialCalculator1Test@b9b00e0]">testForInvalidNumber</td> 
  <td>main@426960147</td>   <td></td> </tr>
<tr bgcolor="708d61">  <td>22/11/23 20:27:14</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FactorialCalculator1Test.setUp()[pri:0, instance:com.github.rizwanbinzahir.testngsample.FactorialCalculator1Test@b9b00e0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@426960147</td>   <td></td> </tr>
</table>
