<h2>Methods that were not run</h2><table>
<tr><td>com.github.rizwanbinzahir.testngsample.FactorialCalculator1Test.testForAnyNumber</td></tr>
<tr><td>com.github.rizwanbinzahir.testngsample.FactorialCalculator1Test.testForNumber0</td></tr>
</table>